In [15]:
#https://www.datacamp.com/community/tutorials/fuzzy-string-python
#https://towardsdatascience.com/how-to-do-fuzzy-matching-in-python-pandas-dataframe-6ce3025834a6
#https://towardsdatascience.com/fuzzywuzzy-find-similar-strings-within-one-column-in-a-pandas-data-frame-99f6c2a0c212
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz
OSM = pd.read_json('amenities-vancouver.json.gz', lines=True)

In [16]:
rest_list = ['cafe', 'fast_food', 'bbq', 'restaurant', 'pub',
       'bar', 'ice_cream', 'bistro', 'juice_bar']
restaurants = OSM[OSM.amenity.isin(rest_list)]
restaurants['name'] = restaurants['name'].str.lower()
pd.options.mode.chained_assignment = None #disable weird warnings
restaurants

,lat,lon,timestamp,amenity,name,tags
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,salad loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...
3,49.249848,-122.959708,2011-09-06T03:52:10.000-07:00,bbq,NaN,{}
13,49.126650,-123.182470,2020-03-30T09:08:51.000-07:00,restaurant,best bite indian cuisine,"{'addr:housenumber': '10-3891', 'phone': '+1-6..."
16,49.283192,-123.109050,2015-12-18T21:41:07.000-08:00,pub,the cambie,"{'toilets:wheelchair': 'no', 'wheelchair': 'li..."
...,...,...,...,...,...,...
17712,49.250408,-123.076261,2017-07-08T05:22:57.000-07:00,restaurant,house of dosas,"{'addr:housenumber': '1391', 'phone': '+1-604-..."
17713,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,creekside coffee,{}
17714,49.278770,-122.797628,2013-03-26T23:45:49.000-07:00,restaurant,togo sushi,{'cuisine': 'japanese'}
17716,49.282666,-122.826978,2019-09-13T13:56:49.000-07:00,pub,brown's social house,"{'addr:housenumber': '215', 'brewery': 'Guinne..."
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,gallagher's cafe,"{'addr:housenumber': '232', 'internet_access':..."

In [17]:
grouped_names = restaurants.groupby('name', as_index=False).agg(['count'])
grouped_names = grouped_names.iloc[:, 0:1].reset_index(drop=False)
grouped_names.columns = ['name', 'count']
grouped_names = grouped_names.sort_values('count', ascending=False)
grouped_names[:20]

                  name  count
2689         starbucks    217
2720            subway    177
3138       tim hortons    124
1780        mcdonald's     59
36                 a&w     55
3342        white spot     26
993            freshii     24
995   freshslice pizza     24
2238         pizza hut     23
2332           quiznos     23
705        dairy queen     22
296       blenz coffee     22
2089            panago     21
1470               kfc     20
330       boston pizza     18
396        burger king     18
1646    little caesars     17
3326           wendy's     15
327      booster juice     14
1927           nando's     14

In [4]:
#pd.set_option('display.max_rows', 100)

# We have 71 rows without a name here, try to fill in if possible.
restaurants[restaurants.name.isnull()]

,lat,lon,timestamp,amenity,name,tags
3,49.249848,-122.959708,2011-09-06T03:52:10.000-07:00,bbq,NaN,{}
786,49.049771,-122.319001,2019-09-02T22:08:26.000-07:00,fast_food,NaN,"{'official_name': 'Kami Sushi Enterprises', 'a..."
1263,49.237670,-122.782747,2012-03-01T05:24:27.000-08:00,bbq,NaN,{}
1553,49.263266,-123.110529,2014-07-11T19:59:54.000-07:00,pub,NaN,{}
2046,49.229367,-123.004155,2017-03-22T04:32:05.000-07:00,bar,NaN,{'addr:housenumber': '1822'}
...,...,...,...,...,...,...
16520,49.050337,-122.800687,2014-05-17T04:16:00.000-07:00,restaurant,NaN,{'cuisine': 'sushi'}
16667,49.200029,-122.911494,2013-03-03T22:23:02.000-08:00,fast_food,NaN,"{'level': '1', 'cuisine': 'seafood'}"
17089,49.312247,-122.925978,2019-07-15T07:01:57.000-07:00,cafe,NaN,{}
17628,49.139018,-122.889496,2020-03-21T05:16:15.000-07:00,restaurant,NaN,{'cuisine': 'thai'}
17710,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,NaN,{'cuisine': 'japanese'}

In [5]:
unique_name = restaurants['name'].astype(str).unique().tolist()
len(unique_name)
unique_name[unique_name == 'Nan']
#sorted(unique_name)[:20]

'starbucks'

In [6]:
unique_name

['starbucks',
 'salad loop',
 'nan',
 'best bite indian cuisine',
 'the cambie',
 'mahony and sons',
 'tim hortons',
 'oriental rice noodle',
 "nando's",
 'boston pizza',
 "mcdonald's",
 "koerner's pub",
 'waves',
 'subway',
 'legends pub',
 'kfc',
 'pizza hut (takeout)',
 'burger king',
 "triple o's",
 'faculty brewing',
 'argo cafe',
 'r & b ale & pizza house',
 'peaceful restaurant',
 'pho 99',
 'tacofino commissary',
 'miyako sushi',
 "what's up? hot dog!",
 'waves coffee',
 'st lawrence restaurant',
 'cuhillo',
 'the uncommon cafe',
 'juniper',
 'gold stone bakery & restaurant',
 'back and forth bar',
 'the sardine can',
 'soft peaks ice cream',
 '131 water kitchen & bar',
 'jules bistro',
 'crystal palace',
 "tokyo joe's",
 'cactus club cafe',
 'joongwon',
 'chongqing on robson',
 "stepho's",
 'a taste of india',
 "hon's wun-tun house",
 'miss korean bbq',
 'forage',
 'timber',
 'miko sushi',
 'cora',
 'chatime',
 "pok'e time",
 'abode',
 'shenanigans',
 "hail mary's",
 'red burrito',
 'pita pit',
 'only u cafe',
 'umami sushi',
 'the wicklow pub',
 'callister tasting room',
 'powell brewery tasting room',
 'strange fellows tasting room',
 'ramen koika',
 'exile',
 'dublin crossing irish pub',
 'spacca napoli',
 'smokehouse sandwich co',
 'essentia cafe',
 "deacon's corner",
 'kirin mandarin restaurant',
 'pink elephant thai',
 'a&w',
 'fantacity karaoke',
 'alibi room',
 'elysian coffee roasters',
 'beaver tails',
 "paul's kitchen",
 'fukuroku sushi express',
 "lully's sandwich bar",
 'cabrito - tapas bebidas',
 'spicy 6',
 "daddy's delight kabobs",
 'waka sushi',
 "triple-o's",
 'caffe artigiano',
 'french table bistro',
 'golden garden vietnamese cuisine',
 'old bird',
 'virtuous pie',
 'east is east - main st',
 'blenz',
 'kirin seafood restaurant',
 'liuyishou hotpot robson',
 'brambles bistro',
 'gong cha',
 "the captain's boil",
 'kyabia',
 'pizza farina',
 'eats at the pier',
 'sticky buns & more',
 'kaide sushi bar',
 'bibo italian restaurant',
 'caffè artigiano',
 'japadog',
 'ryuu izakaya',
 'neptune wonton noodle',
 'sushiholic',
 'felicos restaurant',
 'kisamos greek taverna',
 'pho lan beef noodle soup',
 'le petit saigon',
 'panago pizza',
 'ocean park pizza & steakhouse',
 'walnut grove pub & liqour store',
 'bull king bbq',
 'gingeri chinese cuisine',
 'happy lamb hot pot',
 'toku japanese restaurant',
 'insadong',
 'best sushi n kitchen',
 'wings tap and grill',
 'fuku ramen',
 'tacofino',
 'mirai sushi',
 'hanami',
 'round table pizza',
 'taco del mar',
 'pizza hut',
 "montana's",
 'the barley merchant',
 'green leaf sushi',
 'namoo sushi',
 "romer's",
 'swiss chalet',
 'mucho burrito',
 'orrange kitchen + bar',
 'pho 51',
 'five guys',
 'pho toan thang',
 'sushi mori',
 'creekside grill',
 'trattoria',
 'the cafe',
 'the lower cafe',
 'mirch masala',
 'mehfil india restaurant',
 'maharaja sweets and restaurant',
 'sabai thai restaurant',
 'fresgo inn',
 'nahm thai bistro',
 'sun sui wah seafood restaurant',
 'dairy queen',
 'victoria restaurant',
 'quiznos',
 'fork n chopstick',
 'panago',
 'rio brazilian steakhouse',
 'cinch grill italian',
 'browns social house',
 'booster juice',
 'freshslice',
 'donair spot',
 'the thirsty duck',
 'the crab king restaurant',
 'mr. mustache tea & dessert',
 'pho thai son restaurant',
 'on may chinese restaurant',
 'kim phung restaurant',
 'freshslice pizza',
 'mk chop chop bbq house',
 'shun fa noodle house',
 'happy sushi',
 'pho hue',
 'banh mi saigon',
 'la maison da nang',
 'bun cha ca hoang yen',
 'chau veggie express',
 'kozak ukraїnian eatery',
 '17°c dessert café',
 'kings cafe',
 'pho hoa noodle soup',
 'shiang garden seafood restaurant',
 "anton's pasta bar",
 'dq orange julius',
 'new york fries',
 'opa! of greece',
 'manchu wok',
 "ono's of japan",
 'thaï express',
 'masayoshi',
 'meet on main',
 'meet in gastown',
 'chongqing',
 'bob likes thai food',
 'the fish counter',
 'thai by thai',
 'tasty indian bistro',
 "krishna's dosa grill",
 'desi junction lounge & restaurant',
 'mayuri indian cuisine',
 "chuck e. cheese's",
 'no. 9 restaurant',
 'haidilao hot pot',
 'jolly coachman pub',
 'mui garden',
 'fable diner',
 'the chopped leaf',
 'lotus garden express',
 'zythos',
 'kalamaki greek grill',
 'hub restaurant new west',
 'the old spaghetti factory',
 'glowbal',
 "steveston's coffee co.",
 "pajo's fish and chips",
 "papa john's",
 "domino's",
 'masita korean restaurant',
 'roadside spicy pot',
 "kent's kitchen",
 'hometown pizza',
 "papa dave's pizza indian cuisine",
 'east side craft house',
 'water street cafe',
 'minato japanese restaurant',
 'saravanaa bhavan (south indian)',
 'royal seoul house',
 'menya raizo',
 'fatburger',
 'sandy la chinese restaurant',
 'la casa gelato',
 'raven pub',
 'au petit café',
 'banana leaf',
 'dinesty dumpling house',
 'sushi itoga',
 'nha trang restaurant',
 'lucky sushi',
 'momo sushi',
 'mali thai food',
 'queensboro pizza',
 "ricky's bar & grill",
 'coquitlam grill',
 'poco sushi',
 'parkside brewing',
 'de dutch',
 "joker's pizzaria",
 'scan-delicious',
 'mccafé',
 'uni sushi express',
 'cupcakes',
 'orange julius',
 'jugo juice',
 'sushi oyama',
 'domino pizza',
 'blenz coffee',
 'fortune house seafood restaurant',
 'cinnzeo',
 'legendary noodle',
 'fresh donair',
 'wild wing',
 'quick bite',
 "potter's garden",
 'chef pin',
 'klasik inasal',
 'chop n toss',
 'chef tony dim sum',
 'chronic tacos',
 'sulmida',
 'koya japan',
 'bubble waffle cafe',
 'vina vietnamese',
 'chachi’s',
 'u-grill',
 "menchie's",
 'kawawa',
 'kawawa ramen',
 'crêpe de licious',
 'curry express',
 'kernels',
 'togo sushi',
 'take five café',
 'bourbon st. grill',
 'the american cheese steak co.',
 'rad on denman',
 'sunshine',
 'chuan dong',
 'comebuy',
 'eggstatic',
 'neptune chinese kitchen',
 'grainery',
 'sashimi sushi',
 'canra plus',
 'ryo',
 'india’s flavour',
 'kazoku',
 'the buffet',
 "made to order chip's",
 'triple os',
 'char 631 steakhouse',
 "anna's",
 'big orange',
 'wok',
 'kojo of japan',
 'chop & toss',
 'fu express',
 'roadies',
 "fuel cafe'",
 'ihop',
 'goldies',
 'caveman cafe',
 'shiny tea',
 'taco time',
 "abdul's bbq",
 'bubble king',
 'tina',
 'thai town',
 'wow thai food',
 'bali thai',
 'giant panda',
 'y2 cafe',
 'deep cove brewers and distillers lounge',
 'lucky dragon palace restaurant',
 'cafe zen',
 "federico's supper club",
 'off the rail tasting room',
 'bomber tasting room',
 'fuggles & warlock tasting room',
 'galiano bakery & cafe',
 "wendy's",
 'thai hang',
 'the wine bar',
 'kinara',
 'the park at english bay',
 'yummy to go',
 'grotto',
 'pizza factory',
 'fraser valley juice',
 'pizza pzazz',
 'little monk pretzels',
 'princeton pub',
 'wu han spicy duck',
 's&w pepper house',
 "church's chicken",
 'bay sushi cafe',
 'kung fu noodle',
 'pokérrito',
 'dae ji',
 'sushi home',
 'big bowl rice',
 'pourhouse',
 'judge begbies',
 'hops',
 'fresh slice pizza',
 "ny's indian grill & bar",
 's&l',
 'white spot',
 'zythos greek restaurant',
 'chipotle',
 'cecil bar',
 "cardero's",
 'shabusen',
 'hanano sushi & grill',
 'house special',
 'la pentala',
 'kuma',
 'saigon xua',
 'soho',
 'c-lovers fish & chips',
 'yaletown distilling company',
 'hapa izakaya',
 'living produce aisle',
 'the flying pig',
 'robba da matti',
 'the distillery bar',
 'paulies kitchen',
 'zend conscious lounge',
 'mister',
 'sushi maro',
 'clydesdale coverdale',
 'new amsterdam cafe',
 'maruwa sushi',
 'josephines restaurant and catering',
 'the cascade',
 "charlie's little italian",
 'bean around the world',
 'cafe barney',
 'frenchies diner',
 'pizza 604',
 'chutney villa',
 "kafka's coffee and tea",
 'the wallflower',
 'sunny spot',
 'g-be izakaya',
 'alberello pizzeria',
 'yum sweet shop',
 'twin bridges restaurant',
 "chef's kitchen",
 'silver dragon restaurant',
 "jim's pizzeria",
 'masala india bistro',
 'baselines pub',
 'sushi garden',
 'bells and whistles',
 'thanh thanh',
 'le crocrodile',
 "brown's socialhouse",
 'iron bowl japanese',
 'nordel sushi',
 'taco bell',
 'asa sushi',
 'earls',
 'pizza pizza',
 'stackables',
 "ike's café",
 'sundance pub',
 "original joe's",
 'the landing pub & grill',
 'little caesars',
 'empire seafood restaurant',
 'italian tomato',
 "kong's kitchen",
 'golden coin',
 'local public eatery',
 'gringo',
 "harvey's",
 'restaurant yugo',
 'the pit',
 "white spot triple o's",
 'urban sushi',
 'trees coffee',
 'creme de la crumb',
 'starbucks - ocean park',
 'starbucks - whiterock',
 'islands café',
 'dubh linn gate',
 'townline taphouse and grill',
 'café crêpe',
 'fung may',
 'tea plus',
 'hana sushi',
 'bo wah',
 'shanghai',
 'bubble waffle',
 'yunnan',
 'seafood house',
 '99 bbq',
 'the juice corner',
 'shaxian',
 'paradise juice',
 'best noodle',
 'happy ice',
 'want want',
 'chao shou',
 'delicious b.b.q.',
 'shanghai dimsum',
 'cherry tea & icy bar',
 'huaxi',
 'ipoh bean sprout chicken',
 'kingspark',
 'blazing flame',
 'ginseng spirit',
 'kasuga',
 'tasty harmony',
 'house teppan',
 'gullin rice',
 'takeda ya ramen',
 'ba shu',
 'grand crystal seafood',
 'ha cafe',
 'donair delight',
 'hon sushi',
 'racebook',
 'match',
 'shang noodle house',
 'kirin',
 'buffet',
 'red bar',
 'hookan lounge',
 'szechuan cuisine',
 'myst asian fusion',
 'opa!',
 "sarpino's pizzeria",
 "ricky's",
 'saison',
 'cultures',
 'go grill',
 'fresh slice',
 'thai express',
 'quesada',
 'toyama express',
 'charleys philly steaks',
 "steve's poké bar",
 'potato corner',
 'menchies frozen yoghurt',
 'famoso napolitan pizzeria',
 'milestones',
 'yogen fruz',
 'kowloon',
 "mcdonald's drive-thru",
 'green basil thai',
 'afghan horsemen restaurant',
 'the artful dodger pub',
 'fireside café',
 "enzo's café",
 'west oak',
 'chasers',
 'wild tale',
 'lime & moon pie company',
 'pizza',
 'fanny bay oyster bar',
 'the greek by anatoli',
 'coffee house',
 'kyo korean bbq & sushi house',
 'tap & barrel',
 'the canadian brewhouse & grill',
 'z&y shanghai cuisine',
 'simmer huang',
 't-go tea',
 'bánh mì très bon',
 'pepper lunch',
 'thai son restaurant',
 'tsukiji japanese restaurant',
 'kingspark steak house',
 'chuan bbq restaurant',
 'dharma garden vietnamese vegetarian cuisine',
 'beijing hot pot',
 'banzai sushi house',
 'tsim chai noodles',
 'samsoonie noodle & rice',
 'enjoy cafe 1+1',
 'green lemongrass',
 'chef tony seafood restaurant',
 'gang nam korean bbq',
 'papa goose rice noodle restaurant',
 'millennium karaoke',
 'china house seafood restaurant',
 'geng shi ji',
 'deer garden signatures',
 'cantonese bbq',
 'yah-yah-ya',
 'janice cake shop',
 'meet fresh',
 'pho 37',
 'fortune terrace chinese cuisine',
 'newton beef noodle',
 'chengdu noodle house',
 'pearl castle cafe',
 "johnnie fox's",
 'quiznos sub',
 "denny's",
 "colleen's cafe",
 "paramount gentlemen's club",
 'the fish man',
 'lee yuen seafood restaurant',
 'the boathouse restaurant',
 'trafalgars bistro',
 'the crab shop',
 'szechuan house restaurant',
 'pleasant beans coffee house',
 'nelson the seagull',
 'james snacks',
 'book kyung ban jeoun & bk karaoke',
 'new bhaia sweet shop and restaurant',
 'gourmet chinese',
 'the alley',
 'plaza premium lounge',
 'schnitzelhaus restaurant',
 'cafe & roastery',
 'grand seasons restaurant',
 'donair town',
 'donair ville & cafe',
 'ocean wise cafe',
 'sharetea',
 'sanpoutei ramen',
 'leisure tea & coffee',
 "mai's vietnamese restaurant",
 'empire garden chinese restaurant',
 "cor's 2 for 1 pizza",
 'roots café',
 'song huong',
 'ajishou japanese cuisine',
 'cafe xu hue',
 'veggie bowl',
 'the cockpit',
 'the ramen butcher',
 'fat mao noodles',
 "mamie taylor's",
 'pacific poke',
 'juke',
 "new mitzie's restaurant",
 'sai woo',
 'jade dynasty restaurant',
 'truck stop cafe',
 'yu ki bbq kitchen',
 'pho thai ha',
 "bibi's kitchen",
 'sushi man',
 'capilano sushi',
 'kypriaki mediterranean grill',
 'pho garden',
 'mooyah',
 'la cucina',
 'jade garden kitchen',
 'bean around the world coffees',
 'corner cafe',
 'pemberton station neighbourhood pub',
 'la taqueria',
 'dosa hut',
 'boomers sport grill',
 'chop steakhouse bar',
 'fresh window cafe',
 'richmond sushi',
 'ninkazu japanese restaurant',
 'maple leaf lounge',
 "monk's grill",
 'hashi sushi',
 'pad thai restaurant',
 'moxies bar & grill',
 'tim hortons drive thru',
 'u & i thai',
 "eleni's greek restaurant",
 'akaska',
 "emperor's kitchen",
 'marine bay restaurant',
 'pho 99 vietnamese noodle house',
 'mui kee chicken pot',
 'silver tower cafe restaurant',
 'claypot hot pot and bbq',
 'amigo restaurant',
 'max noodle house',
 'xiaolongkan hot pot',
 'lim kee restaurant',
 'paragon pizza',
 "huang's beef noodle",
 'karakoram restaurant',
 'prohibition',
 '敘香園',
 'happy day cafe',
 'beijiang restaurant',
 'congee noodle king',
 'milk & sugar cafe',
 'hyoga japanese cuisine',
 'japanese bistro kammone',
 'joyce jiaozi',
 'sunflower bubble tea',
 "uncle faith's pizza",
 'agra tandoori restaurant',
 'argo greek',
 'flower & horse in spring',
 'kintaro ramen',
 "gon's izakaya",
 'milano coffee roasters',
 'ma dang goul',
 'zakkushi',
 'breka bakery & cafe',
 'ukrainian village restaurant',
 'the blind sparrow',
 'ciao bella restaurant',
 'hui lau shan',
 'damso restaurant',
 'khaghan restaurant',
 'the flying pig gastown',
 'the fried chicken works korean',
 'green leaf brewing',
 'maru korean bistro',
 'south castle korean restaurant',
 "rodney's oyster house",
 'sura korean',
 'hongdae pocha korean',
 'buddha-full',
 "vij's",
 'liquids + solids',
 "woody's on brunette",
 'mega donair',
 'woking dragon china bistro',
 'all about pho',
 'indian bay leaf',
 'indian bombay bistro',
 "nicolelina's cafe",
 'shawliz',
 'matsuzushi',
 'greek guys',
 'spice 72 indian bistro and lounge',
 'mahek chaat house',
 'the pantry',
 'loving hut express food van',
 'troller ale house',
 'bay sushi',
 "berry's",
 'seaside village',
 'boardwalk cafe & games',
 'baik mi korean restaurant',
 'phở 99 vietnamese noodle house',
 'the mongolie grill',
 "aphrodite's organic cafe",
 'dewdney pub',
 'grabajava',
 'the shameful tiki',
 "lucy's eastside diner",
 'panos',
 'dooboo',
 'joyful seafood restaurant',
 'pho hong',
 'phơ boi',
 'so crab so good seafood restaurant & bar',
 'provence marinaside',
 'freshii',
 'beans & leaves',
 'the butcher & bullock',
 'kira sushi',
 'the rendezvous restaurant',
 'hollywood north',
 'numero uno pizza',
 'nero belgian waffle bar',
 'sushi howe',
 'cafe amarti',
 'dogwood lounge',
 'cinema public house',
 'kamei baru',
 'pizza garden',
 'pacifico',
 'donair king',
 "domino's pizza",
 'railway club',
 'big 6',
 'scott hill pizza',
 'agra sweets & restaurant',
 'pizza grill',
 'homer st cafe and bar',
 'kadoya',
 'fat burger',
 'city blends coffee',
 'choice pizza 2 for 1',
 'legendary noodle house',
 'nemesis',
 'clayburn village store & gift shop',
 'the polly fox',
 'true confections',
 'yolks',
 'rickshaw chinese food',
 'neptune seafood restaurant',
 "be' wiched",
 'taste of pho',
 'marutama ra-men',
 'red21',
 'coasters express',
 'snowy village',
 'hokkaido ramen santouka',
 "meat at o'neill's",
 'westview oriental',
 'yale hotel',
 'ba le deli & sandwiches',
 "chan's kitchen",
 'rodem korea',
 'little tea house',
 'kwan kee noodle house',
 "yl's curry bowl",
 'sashimi & sushi express',
 'the keg steakhouse + bar',
 'doma sushi',
 'dddn pan pizza',
 'luxe chinese seafood restaurant',
 'apna chaat house',
 'poke five',
 'safari grill',
 'pizza nation',
 'texx big burger',
 'moja coffee',
 'pizza24',
 "ricky's country restaurant",
 'le petit crêpe',
 'tableau',
 'n.s.c.s. discovery café',
 'domo sushi',
 'baker & table',
 'noodlebox',
 'meat & bread test kitchen',
 'a&w restaurant',
 'neptune club sports bar & grill',
 'j&g fried chicken',
 'the boss restaurant',
 'sekai',
 'murasaki',
 'golden swan restaurant',
 'el caracol mexican cafe',
 "amay's house",
 'shima-ya',
 "papa's gourmet pizza",
 'great han mongolian bbq',
 'nam nam noodle',
 'waves coffee house',
 'green leaf sushi cafe',
 'red robin',
 "wick's cafe",
 "uncle fatih's pizza",
 'something healthy',
 'good choice restaurant',
 "mary's place",
 'sadies lunchworks',
 "dijo's pizza",
 'phở don',
 'blowfish sushi',
 'naruto sushi',
 'pressbox pub',
 'isami sushi',
 'vi la palace',
 'rendezvous restaurant mt lehman',
 'hana sushi japanese restaurant',
 'curry time indian cuisine',
 'parmeshar sweet shop & restaurant',
 'luppolo tasting room',
 '54th ave cafe',
 "uncle willy's",
 'cattle cafe',
 'morak korean restaurant',
 'dae-ji cutlet house',
 'little sheep mongolian hot pot',
 "ramie's greek restaurant",
 'bubble world',
 'pho 24 express',
 'cafe loyal',
 'pho japolo',
 'the moose',
 'pizza pizzria',
 'la quercia',
 'ki sushi',
 'republica coffee roasters',
 'makoto sushi',
 'sweet cherubim',
 "pajo's",
 "suzette's cafe",
 'garlic and chili',
 'truong thanh',
 'marcello woodfire pizza oven',
 'cafe phin phap',
 "soly's pizza",
 'hinn ramen',
 'ginger sushi',
 'tatsu japanese bistro',
 'tandoori palace',
 'harbour oyster + bar',
 'sake maki sushi',
 'ba le deli & bakery',
 'ole ole mexican deli',
 'fog on the river',
 'lougheed village bar & grill',
 'ivana tea house',
 "young's",
 'pizza art',
 'sushi by yuji',
 'pallet coffee roasters',
 'dragon crepe',
 'metro cafe bar',
 'the little donkey',
 'the tipper',
 'tandem bike cafe',
 'la zuppa',
 'rosemary bagels',
 'uva',
 'rib & chicken',
 'big rock urban eatery',
 'coco 都可 bubble tea',
 'la grill',
 'belmont cafe',
 'frosting cupcakery & bake shop',
 'burgoo',
 'fayuca',
 "pierre's",
 'kj enjoy garden restaurant',
 "paliotti's",
 'hot pho restaurant',
 "carl's jr.",
 'browns socialhouse',
 'socrates grill',
 'sushi umibe',
 "shooter's tap house",
 'the mexican gourmet',
 'ocean village seafood restaurant',
 'sushi tengu',
 'home restaurant',
 'kitchen on the ridge',
 'chameleon',
 'green house cafe & bistro',
 'silver house restaurant',
 'ebi sushi',
 'gratia bakery & cafe',
 'la trattoria',
 'donair city gyros',
 'sushi sama',
 'brownies chicken & seafood',
 'andamiro korean bistro',
 'colour see see shanghainese cuisine',
 'yaguchiya ramen',
 "foamers' folly tap room",
 'hot spot pizza',
 'maru japanese restaurant',
 'pho 777 vietnamese restaurant',
 'venetis restaurant',
 "robin's donuts",
 'lemon bakery',
 'naka bistro lao & thai cuisine',
 'all india sweets & restaurant',
 'himalaya restaurant',
 'railtown cafe',
 'the portside pub',
 'milk & sugar bbq bar',
 'thailicious',
 'healthy monkey cafe',
 'memory corner',
 'lai leung',
 "wang's shanghai cuisine",
 'ichiro japanese restaurant',
 'jin jiang shanghai restaurant',
 'ki isu japanese restaurant',
 'little saigon yaletown',
 'dukes pub',
 'koyuki sapporo ramen',
 'pink elephant thai restaurant',
 'tian shi fu restaurant',
 'kari house',
 'the keg',
 'the vancouver fish company',
 "tony's fish and oyster café",
 'the sandbar',
 "firefighters' public house",
 'great bear pub',
 'on on wonton house',
 'narita sushi',
 'chongqing qing qin-ma hot pot restaurant',
 'old street',
 'caffe divano',
 'the galley restaurant and grill',
 'que pasa',
 'bubble world tea house',
 'sushi boss',
 'bao down',
 'earnest ice cream',
 'planet india restaurant',
 'canadian 2 for 1 pizza',
 'the village burgery',
 'nammos estiatorio',
 'good sushi',
 'penang bistro',
 'royal fortune szechuan restaurant',
 "yummy fat's",
 'prado cafe',
 'jj bean coffee roasters',
 'catch kitchen + bar',
 'mongo bongo mongolian grill',
 'pho chung nam restaurant',
 'the heritage grill',
 'pho pho you',
 'ramen hachi',
 "angelina's restaurant",
 'delanys coffee',
 'akira',
 'cacao 70',
 'igame arena',
 'sing kee restaurant',
 'sugar loop by westcoast darts cafe',
 'icy bar',
 'd-plus pizza',
 'diamond sweets & restaurant',
 'full ramen',
 'angel cafe',
 'boba monster',
 'green leaf bubble tea',
 'sushi moon',
 'shoom restaurant',
 'yu xiang yuan restaurant',
 'samurai sushi on fraser',
 'ho yuen kee restaurant',
 'dockers family restaurant',
 'innocent ice cream',
 'sushi hub',
 'pho tan restaurant',

In [7]:
#Create tuples of brand names, matched brand names, and the score
score_sort = [(x,) + i
             for x in unique_name 
             for i in process.extract(x, unique_name, scorer=fuzz.token_sort_ratio)]
#Create a dataframe from the tuples
similarity_sort = pd.DataFrame(score_sort, columns=['name_sort','match_sort','score_sort'])
similarity_sort.head()

   name_sort             match_sort  score_sort
0  starbucks              starbucks         100
1  starbucks  starbucks - whiterock          64
2  starbucks             stackables          63
3  starbucks             steamworks          63
4  starbucks             sushi star          63

In [9]:
similarity_sort['sorted_name_sort'] = np.minimum(similarity_sort['name_sort'], similarity_sort['match_sort'])
similarity_sort.head()

   name_sort             match_sort  score_sort sorted_name_sort
0  starbucks              starbucks         100        starbucks
1  starbucks  starbucks - whiterock          64        starbucks
2  starbucks             stackables          63       stackables
3  starbucks             steamworks          63        starbucks
4  starbucks             sushi star          63        starbucks

In [20]:
high_score_sort = similarity_sort[(similarity_sort['score_sort'] >= 80) &
                (similarity_sort['name_sort'] !=  similarity_sort['match_sort']) &
                (similarity_sort['sorted_name_sort'] != similarity_sort['match_sort'])]
high_score_sort = high_score_sort.drop('sorted_name_sort',axis=1).copy()
high_score_sort

                       name_sort                     match_sort  score_sort
91                    triple o's                     triple-o's         100
92                    triple o's                     triple o’s         100
93                    triple o's                      triple os          95
128                 miyako sushi                   sushi misoya          83
136                 waves coffee             waves coffee house          80
...                          ...                            ...         ...
17064  c&u vietnamese restaurant  pho duy vietnamese restaurant          81
17161                  café foam                       jam café          80
17201   grand chinese restaurant      on may chinese restaurant          86
17202   grand chinese restaurant    the real chinese restaurant          82
17246           creekside coffee       creekside coffee factory          80

[1014 rows x 3 columns]

In [ ]:
high_score_sort.groupby(['name_sort','score_sort']).agg(
                        {'match_sort': ', '.join}).sort_values(
                        ['score_sort'], ascending=False)