In [1]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
OSM = pd.read_json('amenities-vancouver.json.gz', lines=True)
OSM

,lat,lon,timestamp,amenity,name,tags
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,Salad Loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...
2,49.373423,-123.291894,2016-10-10T02:14:29.000-07:00,toilets,NaN,{}
3,49.249848,-122.959708,2011-09-06T03:52:10.000-07:00,bbq,NaN,{}
4,49.370898,-123.280448,2015-05-03T00:42:25.000-07:00,place_of_worship,St. Monica's Anglican Church,"{'addr:housenumber': '6404', 'addr:street': 'W..."
...,...,...,...,...,...,...
17713,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{}
17714,49.278770,-122.797628,2013-03-26T23:45:49.000-07:00,restaurant,Togo Sushi,{'cuisine': 'japanese'}
17715,49.276443,-122.790138,2013-03-26T23:45:50.000-07:00,parking,NaN,{}
17716,49.282666,-122.826978,2019-09-13T13:56:49.000-07:00,pub,Brown's Social House,"{'addr:housenumber': '215', 'brewery': 'Guinne..."
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':..."

In [2]:
OSM.amenity.unique()

array(['cafe', 'fast_food', 'toilets', 'bbq', 'place_of_worship',
       'post_box', 'telephone', 'fuel', 'vending_machine', 'restaurant',
       'parking_entrance', 'pub', 'bicycle_parking', 'school', 'bench',
       'community_centre', 'waste_basket', 'pharmacy', 'dentist',
       'doctors', 'post_office', 'atm', 'childcare', 'parking',
       'public_building', 'bank', 'cinema', 'theatre', 'ferry_terminal',
       'bar', 'library', 'car_rental', 'drinking_water', 'shelter',
       'car_sharing', 'bicycle_rental', 'clinic', 'recycling',
       'public_bookcase', 'university', 'dojo', 'food_court',
       'seaplane terminal', 'arts_centre', 'ice_cream',
       'charging_station', 'car_wash', 'fountain', 'veterinary',
       'bicycle_repair_station', 'waste_disposal', 'photo_booth',
       'luggage_locker', 'bureau_de_change', 'parking_space', 'nightclub',
       'social_facility', 'taxi', 'bus_station', 'college',
       'construction', 'post_depot', 'nursery', 'clock', 'kindergarten',
       'conference_centre', 'shower', 'marketplace', 'hospital',
       'trolley_bay', 'fire_station', 'police', 'motorcycle_parking',
       'stripclub', 'gambling', 'compressed_air', 'family_centre',
       'townhall', 'music_school', 'bistro', 'playground', 'boat_rental',
       'meditation_centre', 'spa', 'scrapyard', 'language_school',
       'courthouse', 'events_venue', 'prep_school', 'healthcare',
       'cram_school', 'science', 'ATLAS_clean_room', 'workshop', 'safety',
       'lobby', 'animal_shelter', 'juice_bar', 'internet_cafe',
       'social_centre', 'vacuum_cleaner', 'smoking_area', 'EVSE',
       'studio', 'first_aid', 'ranger_station', 'storage_rental',
       'watering_place', 'lounge', 'trash', 'sanitary_dump_station',
       'disused:restaurant', 'water_point', 'Observation Platform',
       'housing co-op', 'driving_school', 'loading_dock', 'chiropractor',
       'monastery', 'storage', 'gym', 'payment_terminal', 'atm;bank',
       'park', 'biergarten', 'casino', 'Pharmacy',
       'waste_transfer_station', 'office|financial', 'hunting_stand',
       'money_transfer', 'shop|clothes', 'letter_box', 'training',
       'car_rep', 'research_institute', 'motorcycle_rental', 'leisure'],
      dtype=object)

In [3]:
rest_list = ['cafe', 'fast_food', 'bbq', 'restaurant', 'pub',
       'bar', 'food_court', 'ice_cream', 'bistro', 'juice_bar',
       'lounge', 'disused:restaurant', 'biergarten']
restaurants = OSM[OSM.amenity.isin(rest_list)]

In [4]:
pd.set_option('display.max_rows', 100)
restaurants[restaurants.name.isnull()]

,lat,lon,timestamp,amenity,name,tags
3,49.249848,-122.959708,2011-09-06T03:52:10.000-07:00,bbq,NaN,{}
296,49.266588,-123.242722,2011-04-11T20:55:49.000-07:00,food_court,NaN,{}
786,49.049771,-122.319001,2019-09-02T22:08:26.000-07:00,fast_food,NaN,"{'official_name': 'Kami Sushi Enterprises', 'a..."
1263,49.237670,-122.782747,2012-03-01T05:24:27.000-08:00,bbq,NaN,{}
1553,49.263266,-123.110529,2014-07-11T19:59:54.000-07:00,pub,NaN,{}
2046,49.229367,-123.004155,2017-03-22T04:32:05.000-07:00,bar,NaN,{'addr:housenumber': '1822'}
2580,49.288112,-123.114637,2017-03-18T01:54:53.000-07:00,cafe,NaN,{}
3609,49.333194,-123.089975,2017-06-27T17:24:54.000-07:00,cafe,NaN,{}
3632,49.184725,-122.798876,2019-02-24T16:44:29.000-08:00,food_court,NaN,{'indoor': 'yes'}
4540,49.289667,-122.785343,2017-07-10T00:38:28.000-07:00,fast_food,NaN,{}
4614,49.247289,-122.891137,2018-12-08T01:49:20.000-08:00,restaurant,NaN,{}
4616,49.247365,-122.891850,2018-12-08T01:49:21.000-08:00,fast_food,NaN,{}
4620,49.095426,-122.898093,2018-12-09T02:34:48.000-08:00,fast_food,NaN,"{'description': 'Concession stand', 'cuisine':..."
4738,49.278567,-122.818866,2013-04-30T03:48:25.000-07:00,restaurant,NaN,{'cuisine': 'greek'}
4866,49.168659,-122.581185,2019-10-27T22:06:57.000-07:00,fast_food,NaN,"{'cuisine': 'sandwich', 'level': '0', 'takeawa..."
5154,49.264054,-123.174910,2012-04-19T07:35:30.000-07:00,restaurant,NaN,{'cuisine': 'japanese'}
5425,49.264337,-123.174792,2019-12-29T23:17:30.000-08:00,restaurant,NaN,{}
5673,49.312816,-123.142755,2017-12-03T01:57:54.000-08:00,ice_cream,NaN,{}
6579,49.249655,-123.001341,2016-04-13T16:21:41.000-07:00,cafe,NaN,{}
6591,49.303076,-123.155726,2015-08-24T12:32:07.000-07:00,fast_food,NaN,{'source': 'local_knowledge'}
7338,49.277780,-122.794653,2019-03-30T01:10:50.000-07:00,restaurant,NaN,{'cuisine': 'thai'}
8097,49.089154,-123.079931,2019-07-06T07:48:56.000-07:00,restaurant,NaN,{'cuisine': 'chinese'}
8282,49.224174,-122.941720,2011-09-26T19:18:32.000-07:00,fast_food,NaN,{'cuisine': 'pizza'}
8295,49.203703,-123.133419,2013-09-23T09:46:51.000-07:00,pub,NaN,{}
8298,49.265529,-122.978533,2013-09-25T07:17:47.000-07:00,restaurant,NaN,{}
8774,49.191827,-122.844280,2012-04-30T06:44:14.000-07:00,restaurant,NaN,{}
8934,49.196240,-123.178308,2018-12-05T00:10:35.000-08:00,bar,NaN,"{'name:fr': 'Salon feuille d'érable', 'name:en..."
9192,49.243914,-122.890802,2015-08-18T03:59:07.000-07:00,restaurant,NaN,{}
9209,49.198838,-123.181392,2011-04-28T05:16:17.000-07:00,lounge,NaN,{'operator': 'British Airways'}
9409,49.203287,-122.891937,2019-09-08T18:44:30.000-07:00,pub,NaN,{}
9501,49.195063,-123.179939,2012-03-26T18:47:26.000-07:00,bar,NaN,"{'source:location': 'extrapolation', 'source':..."
9508,49.300770,-123.131355,2012-03-26T18:47:29.000-07:00,fast_food,NaN,"{'source:location': 'gps', 'source': 'survey'}"
9648,49.004107,-122.666302,2014-01-20T00:15:31.000-08:00,bbq,NaN,{}
9652,49.228724,-123.004870,2018-04-21T17:33:25.000-07:00,food_court,NaN,{'level': '2'}
9655,49.141345,-122.865518,2014-01-24T01:24:49.000-08:00,fast_food,NaN,{'cuisine': 'indian;pizza'}
9805,49.327052,-123.157465,2011-08-26T22:34:13.000-07:00,bbq,NaN,{}
10341,49.239647,-122.967397,2012-08-12T04:28:53.000-07:00,fast_food,NaN,{}
10426,49.213977,-122.921571,2012-04-11T05:26:45.000-07:00,restaurant,NaN,{'cuisine': 'sushi'}
10478,49.024658,-122.818519,2014-07-17T21:51:18.000-07:00,bbq,NaN,{}
10839,49.253859,-123.061374,2015-06-29T22:29:49.000-07:00,fast_food,NaN,{}
10883,49.021888,-122.807301,2020-01-03T15:51:15.000-08:00,cafe,NaN,"{'addr:housenumber': '14973', 'website': 'http..."
10916,49.184351,-123.133123,2017-01-30T05:09:29.000-08:00,food_court,NaN,{'level': '2'}
11184,49.379395,-123.083560,2013-06-16T23:26:31.000-07:00,bar,NaN,{}
11422,49.164110,-123.141184,2020-01-09T02:09:38.000-08:00,cafe,NaN,"{'addr:housenumber': '7700', 'addr:street': 'M..."
12215,49.118045,-122.888591,2019-10-30T04:29:20.000-07:00,restaurant,NaN,{'cuisine': 'sushi'}
12800,49.248698,-122.864877,2012-10-07T09:13:21.000-07:00,cafe,NaN,{}
12963,49.210594,-122.917341,2019-05-23T06:06:51.000-07:00,restaurant,NaN,"{'cuisine': 'korean', 'addr:housenumber': '412..."
12997,49.210819,-122.917176,2013-06-04T01:12:55.000-07:00,restaurant,NaN,"{'entrance': 'yes', 'note': 'no longer fish an..."
13073,49.276605,-122.790244,2019-07-29T07:37:17.000-07:00,restaurant,NaN,{'cuisine': 'chinese'}
13314,49.134042,-122.690500,2019-09-13T13:57:05.000-07:00,restaurant,NaN,"{'cuisine': 'indian', 'addr:city': 'Surrey'}"
13467,49.264159,-123.164402,2019-12-29T23:17:30.000-08:00,restaurant,NaN,{}
13556,49.248821,-123.000668,2010-08-22T04:29:51.000-07:00,cafe,NaN,{}
13561,49.251174,-123.000389,2010-08-22T04:19:52.000-07:00,cafe,NaN,{}
13568,49.268186,-123.000759,2019-07-14T20:13:35.000-07:00,food_court,NaN,{}
13665,49.312564,-123.078231,2015-01-21T22:11:45.000-08:00,restaurant,NaN,{'cuisine': 'seafood'}
13889,49.275059,-123.206665,2015-04-29T23:59:26.000-07:00,fast_food,NaN,{}
14005,49.046521,-122.287138,2018-10-29T22:51:53.000-07:00,biergarten,NaN,{'covered': 'no'}
14015,49.058438,-122.494479,2012-12-25T08:02:40.000-08:00,cafe,NaN,{}
14018,49.058292,-122.494482,2012-12-25T08:02:41.000-08:00,restaurant,NaN,{'cuisine': 'sushi'}
14036,49.286664,-123.120795,2019-11-14T20:51:58.000-08:00,food_court,NaN,{'level': '-1'}
14037,49.286695,-123.118759,2019-11-14T20:51:58.000-08:00,food_court,NaN,{'level': '-1'}
14290,49.197828,-123.178398,2015-02-14T20:54:47.000-08:00,fast_food,NaN,{'cuisine': 'asian'}
14477,49.269919,-123.069826,2019-04-26T03:22:06.000-07:00,restaurant,NaN,{'name:de': 'Lombardo's Pizzeria & Ristorante'}
14515,49.288123,-123.140291,2019-05-10T20:02:56.000-07:00,restaurant,NaN,"{'name:it': 'Amici miei italian', 'addr:housen..."
14591,49.171655,-123.153430,2019-12-27T00:38:02.000-08:00,restaurant,NaN,{}
14699,49.288314,-123.140013,2019-07-12T21:01:55.000-07:00,ice_cream,NaN,{}
15230,49.038130,-123.085999,2020-05-17T00:09:40.000-07:00,food_court,NaN,{}
15361,49.272311,-123.069750,2015-12-01T02:58:27.000-08:00,cafe,NaN,{'cuisine': 'german'}
15545,49.263675,-123.117796,2020-03-08T01:43:36.000-08:00,restaurant,NaN,"{'cuisine': 'japanese', 'addr:street': 'West B..."
15678,49.125186,-123.196039,2012-11-12T12:16:51.000-08:00,bbq,NaN,{}
15681,49.125198,-123.196142,2012-11-12T12:16:51.000-08:00,bbq,NaN,{}
15743,49.157873,-122.909419,2019-06-27T04:10:17.000-07:00,fast_food,NaN,{}
15748,49.169437,-122.910661,2015-06-08T04:47:51.000-07:00,fast_food,NaN,{}
16135,49.337816,-123.102621,2019-05-06T23:57:45.000-07:00,restaurant,NaN,{}
16225,49.057761,-122.469702,2020-03-10T01:22:18.000-07:00,restaurant,NaN,{'cuisine': 'thai'}
16332,49.040982,-123.089765,2020-04-18T23:45:02.000-07:00,restaurant,NaN,{'cuisine': 'japanese'}
16520,49.050337,-122.800687,2014-05-17T04:16:00.000-07:00,restaurant,NaN,{'cuisine': 'sushi'}
16667,49.200029,-122.911494,2013-03-03T22:23:02.000-08:00,fast_food,NaN,"{'level': '1', 'cuisine': 'seafood'}"
16669,49.200083,-122.911397,2013-03-03T22:23:02.000-08:00,food_court,NaN,{'level': '1'}
17089,49.312247,-122.925978,2019-07-15T07:01:57.000-07:00,cafe,NaN,{}
17628,49.139018,-122.889496,2020-03-21T05:16:15.000-07:00,restaurant,NaN,{'cuisine': 'thai'}
17710,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,NaN,{'cuisine': 'japanese'}

In [5]:
restaurants[~restaurants.name.isnull()]

,lat,lon,timestamp,amenity,name,tags
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,Salad Loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...
13,49.126650,-123.182470,2020-03-30T09:08:51.000-07:00,restaurant,Best Bite Indian Cuisine,"{'addr:housenumber': '10-3891', 'phone': '+1-6..."
16,49.283192,-123.109050,2015-12-18T21:41:07.000-08:00,pub,The Cambie,"{'toilets:wheelchair': 'no', 'wheelchair': 'li..."
19,49.265951,-123.246630,2011-11-19T08:06:36.000-08:00,pub,Mahony and Sons,{'wheelchair': 'yes'}
...,...,...,...,...,...,...
17712,49.250408,-123.076261,2017-07-08T05:22:57.000-07:00,restaurant,House of Dosas,"{'addr:housenumber': '1391', 'phone': '+1-604-..."
17713,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{}
17714,49.278770,-122.797628,2013-03-26T23:45:49.000-07:00,restaurant,Togo Sushi,{'cuisine': 'japanese'}
17716,49.282666,-122.826978,2019-09-13T13:56:49.000-07:00,pub,Brown's Social House,"{'addr:housenumber': '215', 'brewery': 'Guinne..."
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':..."

In [18]:
print(len(restaurants.name.unique()))
restaurants.name.unique()

3481

array(['Starbucks', 'Salad Loop', nan, ..., 'House of Dosas',
       'Creekside Coffee', "Gallagher's Cafe"], dtype=object)