In [2]:
import googlemaps
import pandas as pd

In [286]:
rest = pd.read_csv('final_restaurants.csv')

In [107]:
rest = rest[['lat','lon','amenity','name', 'address','Code', 'Place', 'is chain']]

In [108]:
rest = rest.rename({'Code':'code', 'Place':'place', 'is chain': 'is_chain'}, axis=1)

In [250]:
rest

,lat,lon,amenity,name,address,code,place,is_chain,price_level,rating,user_ratings_total,place_id
0,49.260812,-123.125736,cafe,starbucks,"1001 W 12th Ave, Vancouver, BC V6H 0A5, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,0,0,0,NaN
1,49.263582,-123.128836,cafe,waves,"1095 BC-7, Vancouver, BC V6H 0A8, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,0,0,0,NaN
2,49.263448,-123.138067,fast_food,mcdonald's,"1482 BC-7, Vancouver, BC V6H 4E8, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,0,0,0,NaN
3,49.263225,-123.133390,restaurant,denny's,"1296 W Broadway, Vancouver, BC V6H 1G6, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,0,0,0,NaN
4,49.271156,-123.135808,restaurant,the keg,"1499 Duranleau St, Vancouver, BC V6H 3S3, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5096,49.033067,-123.069255,restaurant,browns socialhouse,"1665 56 St, Delta, BC V4L 2B2, Canada",V4L,Delta Southeast,False,0,0,0,NaN
5097,49.024524,-123.066485,cafe,wood n frog coffee company,"5694 12 Ave, Delta, BC V4L 1C4, Canada",V4L,Delta Southeast,False,0,0,0,NaN
5098,49.250815,-123.168022,fast_food,ridge garden,"4017 Macdonald St, Vancouver, BC V6L 2N8, Canada",V6L,Vancouver (NW Arbutus Ridge),False,0,0,0,NaN
5099,49.187647,-122.552271,cafe,kanaka creek coffee,"24155 102 Ave, Maple Ridge, BC V2W 2C6, Canada",V2W,Maple Ridge East,False,0,0,0,NaN
5100,49.336274,-123.038733,cafe,delany's coffee,"1233 - 1277 Lynn Valley Rd, North Vancouver, B...",V7K,North Vancouver North Central,False,0,0,0,NaN

In [26]:
from googlemaps import convert

In [16]:
API_KEY = 'AIzaSyBoL7cjVG2VlpDv2aAchPowvLQHQc11RAA'

In [18]:
#our client
client = googlemaps.Client(key = API_KEY)

In [91]:
PLACES_DETAIL_FIELDS_BASIC = set(
    [
        "name",
        "place_id",
    ]
)

PLACES_DETAIL_FIELDS_ATMOSPHERE = set(
    ["price_level", "rating","user_ratings_total"]
)

PLACES_DETAIL_FIELDS = (
    PLACES_DETAIL_FIELDS_BASIC
    ^ PLACES_DETAIL_FIELDS_ATMOSPHERE
)

In [92]:
def find_place(client, input, fields=None):
    params = {"input": input, "inputtype": 'textquery'}
    params["fields"] = convert.join_list(",", fields)
    params["locationbias"] = None
    params["language"] = 'English'
    
    return client._request("/maps/api/place/findplacefromtext/json", params)

### Toy Example

In [93]:
address = rest.iloc[5096].address
name = rest['name'].iloc[5096]

In [94]:
restaurant =  str(name)+ " "+str(address)

In [95]:
restaurant

'browns socialhouse 1665 56 St, Delta, BC V4L 2B2, Canada'

In [96]:
one_result = find_place(client,restaurant,PLACES_DETAIL_FIELDS)

In [97]:
one_result

{'candidates': [{'name': 'Browns Socialhouse Tsawwassen',
   'place_id': 'ChIJz2YV9_PmhVQR_6xATuk_63w',
   'price_level': 2,
   'rating': 4,
   'user_ratings_total': 346}],
 'status': 'OK'}

In [98]:
from pandas.io.json import json_normalize

In [99]:
normalized_result = pd.json_normalize(one_result, 'candidates')

In [100]:
normalized_result

,name,place_id,price_level,rating,user_ratings_total
0,Browns Socialhouse Tsawwassen,ChIJz2YV9_PmhVQR_6xATuk_63w,2,4,346

### All Restaurants

In [114]:
rest['price_level'] = 0
rest['rating'] = 0
rest['user_ratings_total'] = 0
rest['place_id'] = 'NaN'

In [285]:

def get_final_info(row):
    address = row['address']
    name =row['name']
    restaurant =  str(name)+ " "+str(address)
    result = find_place(client,restaurant,PLACES_DETAIL_FIELDS)
    result_df= pd.json_normalize(result, 'candidates')
    result_df = result_df[:1]
    
    if 'rating' in result_df:
        row['rating'] =  result_df.iloc[0]['rating']
        
    if 'user_ratings_total' in result_df:
        row['user_ratings_total'] = result_df.iloc[0]['user_ratings_total']
        
    if 'price_level' in result_df:
        row['price_level'] =  result_df.iloc[0]['price_level']
            
    if 'place_id' in result_df:
        row['place_id'] =  result_df.iloc[0]['place_id']
    return row

In [283]:
rest_final = rest.apply(get_final_info, axis=1)

In [284]:
rest_final.to_csv('final_restaurants_v2.csv')