In [1]:
#https://www.datacamp.com/community/tutorials/fuzzy-string-python
#https://towardsdatascience.com/how-to-do-fuzzy-matching-in-python-pandas-dataframe-6ce3025834a6
#https://towardsdatascience.com/fuzzywuzzy-find-similar-strings-within-one-column-in-a-pandas-data-frame-99f6c2a0c212
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz
OSM = pd.read_json('amenities-vancouver.json.gz', lines=True)

/Users/jeanette/opt/anaconda3/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [249]:
rest_list = ['cafe', 'fast_food', 'restaurant', 'pub',
       'bar', 'ice_cream', 'bistro', 'juice_bar']
restaurants = OSM[OSM.amenity.isin(rest_list)]
restaurants['name'] = restaurants['name'].str.lower()
pd.options.mode.chained_assignment = None #disable weird warnings
restaurants

,lat,lon,timestamp,amenity,name,tags
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,salad loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...
13,49.126650,-123.182470,2020-03-30T09:08:51.000-07:00,restaurant,best bite indian cuisine,"{'addr:housenumber': '10-3891', 'phone': '+1-6..."
16,49.283192,-123.109050,2015-12-18T21:41:07.000-08:00,pub,the cambie,"{'toilets:wheelchair': 'no', 'wheelchair': 'li..."
19,49.265951,-123.246630,2011-11-19T08:06:36.000-08:00,pub,mahony and sons,{'wheelchair': 'yes'}
33,49.193580,-123.180788,2019-09-14T05:00:22.000-07:00,cafe,tim hortons,"{'brand:wikidata': 'Q175106', 'level': '0', 'b..."
52,49.228400,-122.848383,2019-11-20T11:48:37.000-08:00,cafe,tim hortons,"{'brand:wikidata': 'Q175106', 'addr:housenumbe..."
54,49.212449,-122.919749,2019-07-02T01:10:30.000-07:00,cafe,tim hortons,"{'brand:wikidata': 'Q175106', 'website': 'http..."
55,49.212659,-122.919347,2019-07-02T01:10:30.000-07:00,cafe,starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
...,...,...,...,...,...,...
17701,49.262659,-123.251745,2019-11-04T20:07:41.000-08:00,cafe,magma cafè,"{'wheelchair': 'yes', 'addr:housenumber': '633..."
17706,49.264044,-123.174166,2019-09-13T13:56:49.000-07:00,cafe,tim hortons,"{'brand:wikidata': 'Q175106', 'addr:housenumbe..."
17707,49.263998,-123.173758,2019-06-08T06:31:22.000-07:00,fast_food,subway,"{'brand:wikidata': 'Q244457', 'website': 'http..."
17710,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,NaN,{'cuisine': 'japanese'}
17712,49.250408,-123.076261,2017-07-08T05:22:57.000-07:00,restaurant,house of dosas,"{'addr:housenumber': '1391', 'phone': '+1-604-..."
17713,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,creekside coffee,{}
17714,49.278770,-122.797628,2013-03-26T23:45:49.000-07:00,restaurant,togo sushi,{'cuisine': 'japanese'}
17716,49.282666,-122.826978,2019-09-13T13:56:49.000-07:00,pub,brown's social house,"{'addr:housenumber': '215', 'brewery': 'Guinne..."
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,gallagher's cafe,"{'addr:housenumber': '232', 'internet_access':..."

In [250]:
# manually input some restaurant names 
#(the API cannot differentiate restaurants on different floor levels)

restaurants.at[16667, 'name'] = "the boathouse"
restaurants.at[14699, 'name'] = "d'oro gelato & caffè" #API can't recognize ice-cream shops

In [227]:
grouped_names = restaurants.groupby('name', as_index=False).agg(['count'])
grouped_names = grouped_names.iloc[:, 0:1].reset_index(drop=False)
grouped_names.columns = ['name', 'count']
grouped_names = grouped_names.sort_values('count', ascending=False)
grouped_names[:20]

                  name  count
2690         starbucks    217
2721            subway    177
3139       tim hortons    124
1781        mcdonald's     59
36                 a&w     55
3343        white spot     26
996   freshslice pizza     24
994            freshii     24
2333           quiznos     23
2239         pizza hut     23
296       blenz coffee     22
706        dairy queen     22
2090            panago     21
1471               kfc     20
396        burger king     18
330       boston pizza     18
1647    little caesars     17
3327           wendy's     15
327      booster juice     14
1928           nando's     14

In [228]:
#pd.set_option('display.max_rows', 100)

# We have 71 rows without a name here, try to fill in if possible.
null_rests = restaurants[restaurants.name.isnull()]


### -------------------------------------------------------------------------------------------------------
Start of code:

In [230]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', False)
null_rests

,lat,lon,timestamp,amenity,name,tags
786,49.049771,-122.319001,2019-09-02T22:08:26.000-07:00,fast_food,NaN,"{'official_name': 'Kami Sushi Enterprises', 'a..."
1553,49.263266,-123.110529,2014-07-11T19:59:54.000-07:00,pub,NaN,{}
2046,49.229367,-123.004155,2017-03-22T04:32:05.000-07:00,bar,NaN,{'addr:housenumber': '1822'}
2580,49.288112,-123.114637,2017-03-18T01:54:53.000-07:00,cafe,NaN,{}
3609,49.333194,-123.089975,2017-06-27T17:24:54.000-07:00,cafe,NaN,{}
4540,49.289667,-122.785343,2017-07-10T00:38:28.000-07:00,fast_food,NaN,{}
4614,49.247289,-122.891137,2018-12-08T01:49:20.000-08:00,restaurant,NaN,{}
4616,49.247365,-122.891850,2018-12-08T01:49:21.000-08:00,fast_food,NaN,{}
4620,49.095426,-122.898093,2018-12-09T02:34:48.000-08:00,fast_food,NaN,"{'description': 'Concession stand', 'cuisine':..."
...,...,...,...,...,...,...
15743,49.157873,-122.909419,2019-06-27T04:10:17.000-07:00,fast_food,NaN,{}
15748,49.169437,-122.910661,2015-06-08T04:47:51.000-07:00,fast_food,NaN,{}
16135,49.337816,-123.102621,2019-05-06T23:57:45.000-07:00,restaurant,NaN,{}
16225,49.057761,-122.469702,2020-03-10T01:22:18.000-07:00,restaurant,NaN,{'cuisine': 'thai'}
16332,49.040982,-123.089765,2020-04-18T23:45:02.000-07:00,restaurant,NaN,{'cuisine': 'japanese'}
16520,49.050337,-122.800687,2014-05-17T04:16:00.000-07:00,restaurant,NaN,{'cuisine': 'sushi'}
17089,49.312247,-122.925978,2019-07-15T07:01:57.000-07:00,cafe,NaN,{}
17628,49.139018,-122.889496,2020-03-21T05:16:15.000-07:00,restaurant,NaN,{'cuisine': 'thai'}
17710,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,NaN,{'cuisine': 'japanese'}

In [231]:
import googlemaps
from pandas.io.json import json_normalize

In [232]:
API_KEY = 'AIzaSyBoL7cjVG2VlpDv2aAchPowvLQHQc11RAA'

In [233]:
#our client
gmaps = googlemaps.Client(key = API_KEY)

In [234]:
# need to give an exact type
# first we need to get all the different types
amenity_np = null_rests['amenity'].to_numpy()
amenity_set = set(amenity_np.flatten())

In [235]:
# function that will change an amenity to a specific type that the API requires to search
def amenity_to_type(a):
    if a == 'bar':
        return a
    else:
        return 'restaurant'

In [236]:
# applying the function
null_rests['type'] = null_rests['amenity'].apply(amenity_to_type)

In [237]:
null_rests.reset_index()

,index,lat,lon,timestamp,amenity,name,tags,type
0,786,49.049771,-122.319001,2019-09-02T22:08:26.000-07:00,fast_food,NaN,"{'official_name': 'Kami Sushi Enterprises', 'a...",restaurant
1,1553,49.263266,-123.110529,2014-07-11T19:59:54.000-07:00,pub,NaN,{},restaurant
2,2046,49.229367,-123.004155,2017-03-22T04:32:05.000-07:00,bar,NaN,{'addr:housenumber': '1822'},bar
3,2580,49.288112,-123.114637,2017-03-18T01:54:53.000-07:00,cafe,NaN,{},restaurant
4,3609,49.333194,-123.089975,2017-06-27T17:24:54.000-07:00,cafe,NaN,{},restaurant
5,4540,49.289667,-122.785343,2017-07-10T00:38:28.000-07:00,fast_food,NaN,{},restaurant
6,4614,49.247289,-122.891137,2018-12-08T01:49:20.000-08:00,restaurant,NaN,{},restaurant
7,4616,49.247365,-122.891850,2018-12-08T01:49:21.000-08:00,fast_food,NaN,{},restaurant
8,4620,49.095426,-122.898093,2018-12-09T02:34:48.000-08:00,fast_food,NaN,"{'description': 'Concession stand', 'cuisine':...",restaurant
...,...,...,...,...,...,...,...,...
53,15743,49.157873,-122.909419,2019-06-27T04:10:17.000-07:00,fast_food,NaN,{},restaurant
54,15748,49.169437,-122.910661,2015-06-08T04:47:51.000-07:00,fast_food,NaN,{},restaurant
55,16135,49.337816,-123.102621,2019-05-06T23:57:45.000-07:00,restaurant,NaN,{},restaurant
56,16225,49.057761,-122.469702,2020-03-10T01:22:18.000-07:00,restaurant,NaN,{'cuisine': 'thai'},restaurant
57,16332,49.040982,-123.089765,2020-04-18T23:45:02.000-07:00,restaurant,NaN,{'cuisine': 'japanese'},restaurant
58,16520,49.050337,-122.800687,2014-05-17T04:16:00.000-07:00,restaurant,NaN,{'cuisine': 'sushi'},restaurant
59,17089,49.312247,-122.925978,2019-07-15T07:01:57.000-07:00,cafe,NaN,{},restaurant
60,17628,49.139018,-122.889496,2020-03-21T05:16:15.000-07:00,restaurant,NaN,{'cuisine': 'thai'},restaurant
61,17710,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,NaN,{'cuisine': 'japanese'},restaurant

In [14]:
# testing with the first row of data
#first_row = null_rests.iloc[0]

In [15]:
#first_row

In [16]:
# getting specifics needed for the request
#loc = str(first_row[0]) + ',' +str(first_row[1])
#loc_type = first_row[6]

In [17]:
# making the request
#first_results = gmaps.places_nearby(open_now=False,location=loc,radius = 5,type=loc_type)

In [18]:
# shows how ugly the results are
#first_results

In [19]:
# normalizing the result to a readable dataframe
#normalized_result = pd.json_normalize(first_results, 'results')

In [20]:
#normalized_result

In [21]:
# taking what we need
#cleaned_result = normalized_result[['name', 'rating','user_ratings_total', 'plus_code.compound_code']]
#cleaned_result = cleaned_result.rename(columns={'plus_code.compound_code':'address'})

### -------------------------------------------------------------------------------------------------------
For the entire dataframe of null restaurants

In [142]:
def request_results(df):
    # getting specifics needed for the request
    loc = str(df['lat']) + ',' +str(df['lon'])
    loc_type = df['type']
    first_results = gmaps.places_nearby(open_now=False,location=loc,radius = 50,type=loc_type)
    return first_results

In [143]:
requested_data = null_rests.apply(request_results,axis=1)

In [35]:
df = pd.DataFrame(requested_data)

In [124]:
# radius = 200, some just don't turn back anything
#df

In [125]:
# radius = 100, i tried with higher ones, some just don't send back anything, if that's the case we need to let them go
#df

In [126]:
# radius = 50, getting a lot more for each, but now we are getting far more businesses in the results dict
# However, we see that even with a 50m radius we are still not getting results back every time
#df

In [127]:
# radius = 20, we get more businesses than if radius =10 was showing up
#df

In [238]:
# As we can see here, each restaurant request generates multiple results, 
# and some restaurant requests generate no results at all.
# I think 50 meters is a reasonable radius, 
# so we'll exclude the remaining ~20 unnamed restaurants

pd.json_normalize(requested_data)

,html_attributions,results,status
0,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
1,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
2,[],[],ZERO_RESULTS
3,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
4,[],[],ZERO_RESULTS
5,[],[],ZERO_RESULTS
6,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
7,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
8,[],[],ZERO_RESULTS
...,...,...,...
54,[],[],ZERO_RESULTS
55,[],[],ZERO_RESULTS
56,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
57,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
58,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
59,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
60,[],[],ZERO_RESULTS
61,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK
62,[],"[{'business_status': 'OPERATIONAL', 'geometry'...",OK

In [239]:
# since each request generates multiple restaurants, 
# we have to select the 'first' option (which is the closest located restuarant)

#create empty dataframe
data = []
df2 = pd.DataFrame(data)
#columns = list(df2)

#count number of rows in our restaurants dataframe
index = null_rests.index
number_of_rows = len(index)

#normalize json and obtain the data we need
#I'm not sure if this is the best method, but I had trouble with the json format
for i in range(number_of_rows):
    normalized_data2 = pd.json_normalize(requested_data.iloc[i]['results'])
    if normalized_data2.empty == True:
        data.append('NaN')
    else:
        data.append(normalized_data2.iloc[0]['name'])
    
df2 = df2.append(data, True)
df2

                                          0
0                  Kami Sushi & Teriyaki Co
1                   Fatburger West Broadway
2                                       NaN
3               Fatburger Waterfront Centre
4                                       NaN
5                                       NaN
6                              Jimmys Place
7   Hee Rae Deung Korean Chinese Restaurant
8                                       NaN
..                                      ...
53          Cactus Club Cafe Broadway + Ash
54                                      NaN
55                                      NaN
56                   Edgemont Gourmet Meats
57           Ocean Park Pizza & Steak House
58               Kamome Japanese restaurant
59                  Maguroguy Sushi & Grill
60                                      NaN
61                          Curry and Kabab

[62 rows x 1 columns]

In [153]:
#filtered_result = normalized_data[['name', 'rating','user_ratings_total', 'plus_code.compound_code']]
#final_result = filtered_result.rename(columns={'plus_code.compound_code':'address'})

In [215]:
# we see here that there are approx double the results than the geolocations we searched
# this is because we are getting back multiple results from the request due to the radius
# TODO: figure out how to just get the first result
#final_result

In [240]:
null_rests = null_rests.reset_index()
null_rests['name'] = df2[0]

In [241]:
null_rests

,index,lat,lon,timestamp,amenity,name,tags,type
0,786,49.049771,-122.319001,2019-09-02T22:08:26.000-07:00,fast_food,Kami Sushi & Teriyaki Co,"{'official_name': 'Kami Sushi Enterprises', 'a...",restaurant
1,1553,49.263266,-123.110529,2014-07-11T19:59:54.000-07:00,pub,Fatburger West Broadway,{},restaurant
2,2046,49.229367,-123.004155,2017-03-22T04:32:05.000-07:00,bar,NaN,{'addr:housenumber': '1822'},bar
3,2580,49.288112,-123.114637,2017-03-18T01:54:53.000-07:00,cafe,Fatburger Waterfront Centre,{},restaurant
4,3609,49.333194,-123.089975,2017-06-27T17:24:54.000-07:00,cafe,NaN,{},restaurant
5,4540,49.289667,-122.785343,2017-07-10T00:38:28.000-07:00,fast_food,NaN,{},restaurant
6,4614,49.247289,-122.891137,2018-12-08T01:49:20.000-08:00,restaurant,Jimmys Place,{},restaurant
7,4616,49.247365,-122.891850,2018-12-08T01:49:21.000-08:00,fast_food,Hee Rae Deung Korean Chinese Restaurant,{},restaurant
8,4620,49.095426,-122.898093,2018-12-09T02:34:48.000-08:00,fast_food,NaN,"{'description': 'Concession stand', 'cuisine':...",restaurant
...,...,...,...,...,...,...,...,...
53,15743,49.157873,-122.909419,2019-06-27T04:10:17.000-07:00,fast_food,Cactus Club Cafe Broadway + Ash,{},restaurant
54,15748,49.169437,-122.910661,2015-06-08T04:47:51.000-07:00,fast_food,NaN,{},restaurant
55,16135,49.337816,-123.102621,2019-05-06T23:57:45.000-07:00,restaurant,NaN,{},restaurant
56,16225,49.057761,-122.469702,2020-03-10T01:22:18.000-07:00,restaurant,Edgemont Gourmet Meats,{'cuisine': 'thai'},restaurant
57,16332,49.040982,-123.089765,2020-04-18T23:45:02.000-07:00,restaurant,Ocean Park Pizza & Steak House,{'cuisine': 'japanese'},restaurant
58,16520,49.050337,-122.800687,2014-05-17T04:16:00.000-07:00,restaurant,Kamome Japanese restaurant,{'cuisine': 'sushi'},restaurant
59,17089,49.312247,-122.925978,2019-07-15T07:01:57.000-07:00,cafe,Maguroguy Sushi & Grill,{},restaurant
60,17628,49.139018,-122.889496,2020-03-21T05:16:15.000-07:00,restaurant,NaN,{'cuisine': 'thai'},restaurant
61,17710,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,Curry and Kabab,{'cuisine': 'japanese'},restaurant

In [244]:
#exclude the remaining ~20 restuarants from our dataset
null_rests = null_rests[~(null_rests.name=='NaN')]
null_rests

,index,lat,lon,timestamp,amenity,name,tags,type
0,786,49.049771,-122.319001,2019-09-02T22:08:26.000-07:00,fast_food,Kami Sushi & Teriyaki Co,"{'official_name': 'Kami Sushi Enterprises', 'a...",restaurant
1,1553,49.263266,-123.110529,2014-07-11T19:59:54.000-07:00,pub,Fatburger West Broadway,{},restaurant
3,2580,49.288112,-123.114637,2017-03-18T01:54:53.000-07:00,cafe,Fatburger Waterfront Centre,{},restaurant
6,4614,49.247289,-122.891137,2018-12-08T01:49:20.000-08:00,restaurant,Jimmys Place,{},restaurant
7,4616,49.247365,-122.891850,2018-12-08T01:49:21.000-08:00,fast_food,Hee Rae Deung Korean Chinese Restaurant,{},restaurant
9,4738,49.278567,-122.818866,2013-04-30T03:48:25.000-07:00,restaurant,Sushi Mori,{'cuisine': 'greek'},restaurant
10,4866,49.168659,-122.581185,2019-10-27T22:06:57.000-07:00,fast_food,Subway,"{'cuisine': 'sandwich', 'level': '0', 'takeawa...",restaurant
11,5154,49.264054,-123.174910,2012-04-19T07:35:30.000-07:00,restaurant,Nuba in Kitsilano,{'cuisine': 'japanese'},restaurant
12,5425,49.264337,-123.174792,2019-12-29T23:17:30.000-08:00,restaurant,Nuba in Kitsilano,{},restaurant
...,...,...,...,...,...,...,...,...
49,14515,49.288123,-123.140291,2019-05-10T20:02:56.000-07:00,restaurant,Fatburger Denman,"{'name:it': 'Amici miei italian', 'addr:housen...",restaurant
51,15361,49.272311,-123.069750,2015-12-01T02:58:27.000-08:00,cafe,Fatburger Denman,{'cuisine': 'german'},restaurant
52,15545,49.263675,-123.117796,2020-03-08T01:43:36.000-08:00,restaurant,Cafe Du Soleil,"{'cuisine': 'japanese', 'addr:street': 'West B...",restaurant
53,15743,49.157873,-122.909419,2019-06-27T04:10:17.000-07:00,fast_food,Cactus Club Cafe Broadway + Ash,{},restaurant
56,16225,49.057761,-122.469702,2020-03-10T01:22:18.000-07:00,restaurant,Edgemont Gourmet Meats,{'cuisine': 'thai'},restaurant
57,16332,49.040982,-123.089765,2020-04-18T23:45:02.000-07:00,restaurant,Ocean Park Pizza & Steak House,{'cuisine': 'japanese'},restaurant
58,16520,49.050337,-122.800687,2014-05-17T04:16:00.000-07:00,restaurant,Kamome Japanese restaurant,{'cuisine': 'sushi'},restaurant
59,17089,49.312247,-122.925978,2019-07-15T07:01:57.000-07:00,cafe,Maguroguy Sushi & Grill,{},restaurant
61,17710,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,Curry and Kabab,{'cuisine': 'japanese'},restaurant

In [ ]:
#add in all restuarants

restaurants = restaurants[~restaurants.name.isnull()]
restaurants = restaurants.append(null_rests)

In [ ]:
restaurants = restaurants.append(null_rests)
#restaurants

In [253]:
#cleaning up
restaurants = restaurants.reset_index()
restaurants = restaurants.drop(['index', 'type'], axis=1)
restaurants

,level_0,lat,lon,timestamp,amenity,name,tags
0,0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
1,1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,salad loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...
2,13,49.126650,-123.182470,2020-03-30T09:08:51.000-07:00,restaurant,best bite indian cuisine,"{'addr:housenumber': '10-3891', 'phone': '+1-6..."
3,16,49.283192,-123.109050,2015-12-18T21:41:07.000-08:00,pub,the cambie,"{'toilets:wheelchair': 'no', 'wheelchair': 'li..."
4,19,49.265951,-123.246630,2011-11-19T08:06:36.000-08:00,pub,mahony and sons,{'wheelchair': 'yes'}
5,33,49.193580,-123.180788,2019-09-14T05:00:22.000-07:00,cafe,tim hortons,"{'brand:wikidata': 'Q175106', 'level': '0', 'b..."
6,52,49.228400,-122.848383,2019-11-20T11:48:37.000-08:00,cafe,tim hortons,"{'brand:wikidata': 'Q175106', 'addr:housenumbe..."
7,54,49.212449,-122.919749,2019-07-02T01:10:30.000-07:00,cafe,tim hortons,"{'brand:wikidata': 'Q175106', 'website': 'http..."
8,55,49.212659,-122.919347,2019-07-02T01:10:30.000-07:00,cafe,starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
...,...,...,...,...,...,...,...
5096,49,49.288123,-123.140291,2019-05-10T20:02:56.000-07:00,restaurant,Fatburger Denman,"{'name:it': 'Amici miei italian', 'addr:housen..."
5097,51,49.272311,-123.069750,2015-12-01T02:58:27.000-08:00,cafe,Fatburger Denman,{'cuisine': 'german'}
5098,52,49.263675,-123.117796,2020-03-08T01:43:36.000-08:00,restaurant,Cafe Du Soleil,"{'cuisine': 'japanese', 'addr:street': 'West B..."
5099,53,49.157873,-122.909419,2019-06-27T04:10:17.000-07:00,fast_food,Cactus Club Cafe Broadway + Ash,{}
5100,56,49.057761,-122.469702,2020-03-10T01:22:18.000-07:00,restaurant,Edgemont Gourmet Meats,{'cuisine': 'thai'}
5101,57,49.040982,-123.089765,2020-04-18T23:45:02.000-07:00,restaurant,Ocean Park Pizza & Steak House,{'cuisine': 'japanese'}
5102,58,49.050337,-122.800687,2014-05-17T04:16:00.000-07:00,restaurant,Kamome Japanese restaurant,{'cuisine': 'sushi'}
5103,59,49.312247,-122.925978,2019-07-15T07:01:57.000-07:00,cafe,Maguroguy Sushi & Grill,{}
5104,61,49.273230,-122.792985,2013-03-25T23:57:07.000-07:00,restaurant,Curry and Kabab,{'cuisine': 'japanese'}

In [254]:
#restaurants.to_csv('complete_restaurants.csv')