## Label & Hot Encoding

In [38]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

### Getting the data we want for label encoding

In [177]:
rest = pd.read_csv('final_restaurants_v2.csv')

In [178]:
pd.set_option('display.max_columns', None)

In [163]:
rest

,Unnamed: 0,lat,lon,amenity,name,address,code,place,is_chain,price_level,rating,user_ratings_total,place_id
0,0,49.260812,-123.125736,cafe,starbucks,"1001 W 12th Ave, Vancouver, BC V6H 0A5, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,2.0,3.9,127,ChIJ-32hJMJzhlQR_ITyqe-rf3c
1,1,49.263582,-123.128836,cafe,waves,"1095 BC-7, Vancouver, BC V6H 0A8, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,0.0,3.8,290,ChIJ2bkpCMRzhlQRaD3pO4h6aJI
2,2,49.263448,-123.138067,fast_food,mcdonald's,"1482 BC-7, Vancouver, BC V6H 4E8, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,1.0,3.4,539,ChIJbW0YnsdzhlQR2mtc9pcWMWw
3,3,49.263225,-123.133390,restaurant,denny's,"1296 W Broadway, Vancouver, BC V6H 1G6, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,2.0,4.0,532,ChIJFx8XKbhzhlQRs4CTHYMO2mg
4,4,49.271156,-123.135808,restaurant,the keg,"1499 Duranleau St, Vancouver, BC V6H 3S3, Canada",V6H,Vancouver (West Fairview / Granville Island / ...,True,3.0,4.2,1366,ChIJK-T5ZUbKcFMRssnXn4ubAnI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5096,5096,49.033067,-123.069255,restaurant,browns socialhouse,"1665 56 St, Delta, BC V4L 2B2, Canada",V4L,Delta Southeast,False,2.0,4.0,348,ChIJz2YV9_PmhVQR_6xATuk_63w
5097,5097,49.024524,-123.066485,cafe,wood n frog coffee company,"5694 12 Ave, Delta, BC V4L 1C4, Canada",V4L,Delta Southeast,False,1.0,4.6,224,ChIJe3IZnGDmhVQRaW-tgYoAE4M
5098,5098,49.250815,-123.168021,fast_food,ridge garden,"4017 Macdonald St, Vancouver, BC V6L 2N8, Canada",V6L,Vancouver (NW Arbutus Ridge),False,2.0,4.1,79,ChIJJ2ni0qRzhlQRMvkbHB2v5k0
5099,5099,49.187647,-122.552271,cafe,kanaka creek coffee,"24155 102 Ave, Maple Ridge, BC V2W 2C6, Canada",V2W,Maple Ridge East,False,2.0,4.7,261,ChIJ1272ud7ShVQRGKe7nBPVSwU
5100,5100,49.336274,-123.038733,cafe,delany's coffee,"1233 - 1277 Lynn Valley Rd, North Vancouver, B...",V7K,North Vancouver North Central,False,1.0,4.2,131,ChIJ6Ri1RwpwhlQRD--RHwIzZN0

In [179]:
rest = rest[['name', 'amenity', 'lat','lon','code','is_chain','price_level','rating','user_ratings_total']]

In [157]:
rest

,name,amenity,lat,lon,code,is_chain,price_level,rating,user_ratings_total
0,starbucks,cafe,49.260812,-123.125736,V6H,True,2.0,3.9,127
1,waves,cafe,49.263582,-123.128836,V6H,True,0.0,3.8,290
2,mcdonald's,fast_food,49.263448,-123.138067,V6H,True,1.0,3.4,539
3,denny's,restaurant,49.263225,-123.133390,V6H,True,2.0,4.0,532
4,the keg,restaurant,49.271156,-123.135808,V6H,True,3.0,4.2,1366
...,...,...,...,...,...,...,...,...,...
5096,browns socialhouse,restaurant,49.033067,-123.069255,V4L,False,2.0,4.0,348
5097,wood n frog coffee company,cafe,49.024524,-123.066485,V4L,False,1.0,4.6,224
5098,ridge garden,fast_food,49.250815,-123.168021,V6L,False,2.0,4.1,79
5099,kanaka creek coffee,cafe,49.187647,-122.552271,V2W,False,2.0,4.7,261
5100,delany's coffee,cafe,49.336274,-123.038733,V7K,False,1.0,4.2,131

### Label Encoding

In [180]:
ale = LabelEncoder()
amenity_labels = ale.fit_transform(rest['amenity'])
rest['amenity_label'] = amenity_labels
#amenity_mappings = {index: label for index, label in enumerate(ale.classes_)}

In [181]:
cle = LabelEncoder()
chain_labels = cle.fit_transform(rest['is_chain'])
rest['chain_label'] = chain_labels

In [182]:
rest = rest[['name','lat','lon','code', 'price_level', 'rating','user_ratings_total','amenity','amenity_label','is_chain','chain_label']]

### Hot Encoding

In [184]:
from sklearn.preprocessing import OneHotEncoder

In [185]:
a_ohe = OneHotEncoder()
a_feature_arr = a_ohe.fit_transform(
                              rest[['amenity_label']]).toarray()
a_feature_labels = list(ale.classes_)
a_features = pd.DataFrame(a_feature_arr, 
                            columns=a_feature_labels)

In [186]:
c_ohe = OneHotEncoder()
c_feature_arr = c_ohe.fit_transform(
                              rest[['chain_label']]).toarray()
c_feature_labels = list('chain_'+str(cls_label) for cls_label in cle.classes_)
c_features = pd.DataFrame(c_feature_arr, 
                            columns=c_feature_labels)

In [147]:
a_features

      bar  bistro  cafe  fast_food  ice_cream  juice_bar  pub  restaurant
0     0.0     0.0   1.0        0.0        0.0        0.0  0.0         0.0
1     0.0     0.0   1.0        0.0        0.0        0.0  0.0         0.0
2     0.0     0.0   0.0        1.0        0.0        0.0  0.0         0.0
3     0.0     0.0   0.0        0.0        0.0        0.0  0.0         1.0
4     0.0     0.0   0.0        0.0        0.0        0.0  0.0         1.0
...   ...     ...   ...        ...        ...        ...  ...         ...
5096  0.0     0.0   0.0        0.0        0.0        0.0  0.0         1.0
5097  0.0     0.0   1.0        0.0        0.0        0.0  0.0         0.0
5098  0.0     0.0   0.0        1.0        0.0        0.0  0.0         0.0
5099  0.0     0.0   1.0        0.0        0.0        0.0  0.0         0.0
5100  0.0     0.0   1.0        0.0        0.0        0.0  0.0         0.0

[5101 rows x 8 columns]

In [148]:
c_features

      chain_False  chain_True
0             0.0         1.0
1             0.0         1.0
2             0.0         1.0
3             0.0         1.0
4             0.0         1.0
...           ...         ...
5096          1.0         0.0
5097          1.0         0.0
5098          1.0         0.0
5099          1.0         0.0
5100          1.0         0.0

[5101 rows x 2 columns]

In [187]:
encoded_df = pd.concat([rest,a_features,c_features], axis=1)

In [191]:
columns = sum([['name', 'lat', 'lon','code', 'price_level','rating','user_ratings_total','amenity','amenity_label'],
              a_feature_labels,['is_chain','chain_label'],
              c_feature_labels],[])

In [192]:
encoded_final = encoded_df[columns]

In [193]:
encoded_final

,name,lat,lon,code,price_level,rating,user_ratings_total,amenity,amenity_label,bar,bistro,cafe,fast_food,ice_cream,juice_bar,pub,restaurant,is_chain,chain_label,chain_False,chain_True
0,starbucks,49.260812,-123.125736,V6H,2.0,3.9,127,cafe,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
1,waves,49.263582,-123.128836,V6H,0.0,3.8,290,cafe,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
2,mcdonald's,49.263448,-123.138067,V6H,1.0,3.4,539,fast_food,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
3,denny's,49.263225,-123.133390,V6H,2.0,4.0,532,restaurant,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,1,0.0,1.0
4,the keg,49.271156,-123.135808,V6H,3.0,4.2,1366,restaurant,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5096,browns socialhouse,49.033067,-123.069255,V4L,2.0,4.0,348,restaurant,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,False,0,1.0,0.0
5097,wood n frog coffee company,49.024524,-123.066485,V4L,1.0,4.6,224,cafe,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
5098,ridge garden,49.250815,-123.168021,V6L,2.0,4.1,79,fast_food,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
5099,kanaka creek coffee,49.187647,-122.552271,V2W,2.0,4.7,261,cafe,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
5100,delany's coffee,49.336274,-123.038733,V7K,1.0,4.2,131,cafe,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0

In [194]:
encoded_final.to_csv('hot_encoded_rests.csv')